/*
Source:
https://github.com/davidgur/davidgur.github.io
*/

body {
  font-family: "Inconsolata", monospace;
  background-color: #282828;
  color: #ebdbb2;
  line-height: 1.2;
}

div {
  margin: 35px auto;
  margin-top: 5%;
  max-width: 550px;
  height: 100%;
  animation: fadein 2.5s;
}

b {
  font-size: 1.4em;
}

p {
  font-size: 1.2em;
}

a {
  color: #83a598;
  text-decoration: none;
}

.info {
  color: #928374;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
