@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply underline-offset-4;
}

a {
  text-decoration: underline;
}

a:hover {
  @apply blue-link;
}

.blue-link {
  @apply text-[#2997ff];
}

.project-html > * {
  @apply mb-4;
}

.project-html > ul {
  @apply list-inside list-disc;
}

/* Styles for Chip components containing skill keywords */
.chip-skill-php {
  @apply bg-[#7a86b8];
}
.chip-skill-mysql {
  @apply bg-gradient-to-r from-[#00758f] to-[#f29111];
}
.chip-skill-bootstrap {
  @apply bg-[#712cf9];
}
.chip-skill-typescript {
  @apply bg-[#3178c6];
}
.chip-skill-react {
  @apply bg-[#087ea4];
}
.chip-skill-keras {
  @apply bg-[#d00000];
}
.chip-skill-tensorflow {
  @apply bg-[#ff6f00];
}
.chip-skill-scikit-learn {
  @apply bg-gradient-to-r from-[#3499cd] to-[#f89939];
}
.chip-skill-redux {
  @apply bg-[#764abc];
}
.chip-skill-mongodb {
  @apply bg-gradient-to-r from-[#001e2b] to-[#00ed64];
}
